<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Inigo Ramli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{%static 'styles.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<!-- We will use scrollspy to track which section the user is on -->
<body>
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top shadow">
		<!-- Section navigation -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<div class="container-fluid p-0 navbar-nav">
				<div class="nav-item">
					<a class="nav-link" href="#profileAnchor">Profile</a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="#featureAnchor">Philosophy</a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="#careerAnchor">Career</a>
				</div>
				<div class="nav-item">
					<a class="nav-link" href="#hobbyAnchor">Hobby</a>
				</div>
				<!-- Social media links -->
				<div class="d-flex flex-grow-1 flex-row-reverse nav-item">
					<div class="mx-2">
						<a class="nav-link" href="https://www.facebook.com/igo.ramli">
							<img src="{%static 'icons/facebook.svg'%}" alt="Facebook" />
						</a>
					</div>
					<div class="mx-2">
						<a class="nav-link" href="https://twitter.com/igoramli">
							<img src="{%static 'icons/twitter.svg'%}" alt="Twitter" />
						</a>
					</div>
					<div class="mx-2">
						<a class="nav-link" href="https://github.com/IgoRamli">
							<img src="{%static 'icons/github.svg'%}" alt="Github" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- Profile Section -->
	<a class="anchor" id="profileAnchor"></a>
	<div class="container-fluid p-5 bg-primary-light">
		<div class="row">
			<div class="col-sm-4">
				<img src="{%static 'img/profile.jpg'%}" class="p-2 rounded-circle img-thumbnail" alt="My Profile" />
			</div>
			<div class="col-sm-8 align-self-center">
				<h1 class="text-light">Hi! My name is</h1>
				<h1 class="display-1 font-weight-bold text-light">Inigo Ramli</h1>
				<h5 class="text-light">I am a computer science student at Universitas Indonesia. I am an avid competitive programmer since high school. I have participated in several programming competitions, including ICPC World Finals. I also love to learn new subjects, especially about how to make learning more effective.</h5>
			</div>
		</div>
	</div>

	<!-- Philosophy + Feature Section -->
	<a class="anchor" id="featureAnchor"></a>
	<div class="container-fluid bg-light section">
		<div class="row">
			<div class="col-sm-7 align-self-center">
				<blockquote class="p-5 text-center">I believe in the value of perseverance and contemplation. To be the very best is to keep finding your own errors through reflections and to work on it with commitment. For me, a mistake - no matter how small - is an opportunity to understand yourself and grow beyond your limits. As a student, I find this principle to be essential on any things, be it learning a new language, studying Computer Science, or even in <i>competitive programming</i>.</blockquote>
			</div>
			<div class="col-sm-5 p-0">
				<img src="{%static 'img/feature.jpg'%}" class="img-responsive" width="100%" alt="Me at World Finals">
			</div>
		</div>
	</div>

	<!-- Career Section -->
	<a class="anchor" id="careerAnchor"></a>
	<div class="container-fluid bg-primary-light p-5">
		<div class="row justify-content-center">
			<h1 class="display-3 font-weight-bold text-light text-center">My Career</h1>
		</div>
		<div class="row mb-5">
			<h5 class="px-5 text-light text-center">Every internship for me is an opportunity to learn new stuff. Here is where I have grown and contribute from start of college until now ...</h5>
		</div>
		<div class="row">
			<!-- Horizontal cards -->
			<div class="card mb-3 shadow">
				<div class="row no-gutters">
					<div class="col-md-4 align-self-center p-3 company-img">
						<img src="{%static 'img/dekoruma.png'%}" class="img-responsive" width="100%" alt="Dekoruma.com">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title font-weight-bold">Dekoruma.com</h5>
							<p class="card-text"><i>Sofware Engineer Intern from June-August 2019</i></p>
							<p class="card-text">My job during Dekoruma internship project consists of front-end and back-end development. I learned about using Django, React Native, and Redux along the way. My contribution on front end development has lead into increase of registration conversion rate.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Hobby Section -->
	<a class="anchor" id="hobbyAnchor"></a>
	<div class="container-fluid theme-white p-5">
		<div class="row justify-content-center">
			<h1 class="display-3 font-weight-bold text-center">My Hobby</h1>
		</div>

		<!-- What CP means for me -->
		<div class="row mb-4">
			<h5 class="px-5 text-center">Competitive programming is more than just problem solving. It is a journey to understand your own self, to learn from mistakes, and to challenge your own limits. This is what I have achieved so far in my journey.</h5>
		</div>

		<!-- Online Judges Logo -->
		<div class="row mb-1 justify-content-center">
			<div class="col-md-2 align-self-center oj-img">
				<a href="https://codeforces.com/profile/IgoRamli">
					<img src="{%static 'img/codeforces.png'%}" class="img-responsive mb-1" width="100%" alt="https://codeforces.com">
				</a>
			</div>
			<div class="col-md-2 align-self-center oj-img">
				<a href="https://atcoder.jp/users/IgoRamli">
					<img src="{%static 'img/atcoder.png'%}" class="img-responsive mb-1" width="100%" alt="https://atcoder.com">
				</a>
			</div>
			<div class="col-md-2 align-self-center oj-img">
				<a href="https://tlx.toki.id/profiles/IgoRamli">
					<img src="{%static 'img/tlx.png'%}" class="img-responsive mb-1" width="100%" alt="https://tlx.toki.id/">
				</a>
			</div>
		</div>

		<!-- Featured Articles -->
		<div class="row">
			<div class="col-md-4 com-sm-12" valign="top">
				<div class="card m-3">
					<img class="card-img-top" src="{%static 'img/wf-feat.jpg'%}" alt="World Finals 2019">
					<div class="card-body">
						<h5 class="card-title">ICPC World Finals 2019</h5>
						<p class="card-text">Regarded as one of the most prestigious programming competition, ICPC World Finals 2019 offers a very unique experience. Our performance is a bit one sided, but the result is satisfying. It's so good even Kompas reported it.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 com-sm-12" valign="top">
				<div class="card m-3">
					<img class="card-img-top" src="{%static 'img/han18-feat.jpg'%}" alt="Asia Hanoi 2018">
					<div class="card-body">
						<h5 class="card-title">ICPC Asia Hanoi 2018</h5>
						<p class="card-text">One of the most memorable ICPC for me, where Ayaz, Degoldie, and I managed to work together to achieve first place (champion). Being able to solve 2 problems, Hanoi is also where I deliver the most contribution for ICPC 2018.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 com-sm-12" valign="top">
				<div class="card m-3">
					<img class="card-img-top" src="{%static 'img/jak18-feat.jpg'%}" alt="Asia Jakarta 2018">
					<div class="card-body">
						<h5 class="card-title">ICPC Asia Jakarta 2018</h5>
						<p class="card-text">My very first experience on ICPC Regional contest. Although there is room for improvement, the result (5th place) is pretty satisfying to me.</p>
					</div>
				</div>
			</div>
		</div>

		<h6 class="p-5 align-self-center text-center"><a href="/gallery">Read more about my competitive programming journey here</a></h6>
		<h6 class="align-self-center text-light text-center"><a href="/schedule">Check my schedule here</a></h6>
	</div>

	<!-- Footer section -->
	<div class="container-fluid p-4 bg-primary text-center">
		<h5 class="font-weight-light text-light">This web was edited just now, so everything should be up to date!</h5>
		<h6 class="font-weight-light text-light">Also, here is my email address(es):</h6>
		<h6 class="small text-light">igoramli.igo@gmail.com<br>inigo.ramli@ui.ac.id</h6>
	</div>
</body>
</html>
