<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>Inigo Ramli</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{%static 'styles.css'%}">
</head>
<!-- We will use scrollspy to track which section the user is on -->
<body class="bg-primary-light">
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark sticky-top shadow">
		<div class="collapse navbar-collapse">
		</div>
		<!-- Social media links -->
		<div class="navbar-right">
			<ul class="navbar-nav">
				<li class="nav-item mx-2">
					<a class="nav-link" href="https://www.facebook.com/igo.ramli">
						<img src="{%static 'icons/facebook.svg'%}" alt="Facebook" />
					</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="https://twitter.com/igoramli">
						<img src="{%static 'icons/twitter.svg'%}" alt="Twitter" />
					</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="https://github.com/IgoRamli">
						<img src="{%static 'icons/github.svg'%}" alt="Github" />
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="p-5" width="100%">
		<h1 class="display-3 font-weight-bold text-light text-center">Gallery</h1>
		<h6 class="text-center text-light">A picture is worth a thousand words. Here are memories of my past contests</h6>
		<p class="text-center caption text-light">Credits to MyICPC, ICPC Jakarta Regional Contest, ICPC Hanoi Regional Contest, and Muhammad Ayaz Dzulfikar for most of the images here</p>
	</div>
	<div class="bg-light m-3 p-5 shadow">
		<div class="row">
			<div class="col-md-4">
				<a href="{%static 'img/wf-feat.jpg'%}"><img width="100%" src="{%static 'img/wf-feat.jpg'%}"></a>
			</div>
			<div class="col">
				<div class="row"><h3>ICPC World Finals 2019</h3><br></div>
				<div class="row"><h6>Universidade do Porto, Porto, Portugal</h6></div>
				<div class="row"><p><i>23rd Place</i></p></div>
				<div class="row">
					<div class="col-2"><a href="{%static 'img/wf-1.jpg'%}"><img width="100%" src="{%static 'img/wf-1.jpg'%}"></a></div>
					<div class="col-2"><a href="{%static 'img/wf-2.jpg'%}"><img width="100%" src="{%static 'img/wf-2.jpg'%}"></a></div>
					<div class="col-2"><a href="{%static 'img/wf-3.jpg'%}"><img width="100%" src="{%static 'img/wf-3.jpg'%}"></a></div>
					<div class="col-2"><a href="{%static 'img/wf-4.jpg'%}"><img width="100%" src="{%static 'img/wf-4.jpg'%}"></a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-light m-3 p-5 shadow">
		<div class="row">
			<div class="col">
				<div class="row"><h3>ICPC Asia Hanoi Regional Contest 2018</h3><br></div>
				<div class="row"><h6>Posts and Telecommunications Institute of Technology, Hanoi, Vietnam</h6></div>
				<div class="row"><p><i>Champion</i></p></div>
				<div class="row">
					<div class="col-2"><a href="{%static 'img/han18-1.jpg'%}"><img width="100%" src="{%static 'img/han18-1.jpg'%}"></a></div>
					<div class="col-2"><a href="{%static 'img/han18-2.jpg'%}"><img width="100%" src="{%static 'img/han18-2.jpg'%}"></a></div>
				</div>
			</div>
			<div class="col-md-4">
				<a href="{%static 'img/han18-feat.jpg'%}"><img width="100%" src="{%static 'img/han18-feat.jpg'%}"></a>
			</div>
		</div>
	</div>
	<div class="bg-light m-3 p-5 shadow">
		<div class="row">
			<div class="col-md-4">
				<a href="{%static 'img/jak18-feat.jpg'%}"><img width="100%" src="{%static 'img/jak18-feat.jpg'%}"></a>
			</div>
			<div class="col">
				<div class="row"><h3>ICPC Asia Jakarta Regional Contest 2018</h3><br></div>
				<div class="row"><h6>Binus University, Jakarta, Indonesia</h6><br></div>
				<div class="row"><p><i>5th Place, Silver Medal, Best National Team</i></p></div>
				<div class="row">
					<div class="col-2"><a href="{%static 'img/jak18-1.jpg'%}"><img width="100%" src="{%static 'img/jak18-1.jpg'%}"></a></div>
					<div class="col-2"><a href="{%static 'img/jak18-2.jpg'%}"><img width="100%" src="{%static 'img/jak18-2.jpg'%}"></a></div>
					<div class="col-2"><a href="{%static 'img/jak18-3.jpg'%}"><img width="100%" src="{%static 'img/jak18-3.jpg'%}"></a></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
