<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Inigo Ramli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'styles.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid p-4 bg-primary-light">
      <h1 class="display-3 mb-3 text-light text-center">My Events</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Event Name</th>
            <th scope="col">Time</th>
            <th scope="col">Location</th>
            <th scope="col">Category</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for event in allEvents %}
          <tr>
            <th scope="row">{{ event.id }}</th>
            <td>{{ event.event_name }}</td>
            <td>{{ event.time }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.category }}</td>
            <td>
              <form action="./del-schedule/" method="post">{% csrf_token %}
                <input type="hidden" name="id" value="{{ event.id }}">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <form action="./add-schedule/" method="post">{% csrf_token %}
              <th scope="row"></th>
              <td><input type="text" name="eventTitle"></td>
              <td><input type="datetime-local" name="time"></td>
              <td><input type="text" name="location"></td>
              <td>
                <select name="category">
                  <option value="GR">General</option>
                  <option value="PR">Personal</option>
                  <option value="CP">Comp. Prog.</option>
                  <option value="CL">Class</option>
                </select>
              </td>
              <td><input type="submit" value="Add"></td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
