.bg-primary {
	background-color: #009688 !important;
}
.bg-primary-light {
	background-color: #52C7B8;
}
.theme-white {
	background-color: #F7F7F7;
}

.anchor {
	display: block;
	position: relative;
	top: -56px;
	visibility: hidden;
}

.p-7 {
	padding: 144px;
}

.company-img {
	text-align: center;
	max-width: 300px;
}

.oj-img {
	text-align: center;
	max-width: 150px;
}

.flex-1 {
	flex-grow: 1;
}

.caption {
	font-size: 9px;
	font-style: italic;
}

html {
	scroll-behavior: smooth;
}